*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;

  flex-direction: column;

  font-family: Helvetica, Arial, sans-serif;

  background-color: var(--body-bg-color);

  position: relative;
}

:root {
  --header-bg-color: rgb(24, 23, 18);
  --footer-bg-color: rgb(24, 23, 18);

  --body-bg-color: rgb(48, 46, 38);

  --backdrop-color: rgba(0, 0, 0, 0.35);
  --link-bg-color: hsl(48, 12%, 14%);

  --font-color-links: hsl(28, 89%, 65%);
  --font-color-links: 28, 89%, 65%;

  --switch-btn-color: hsl(40, 4%, 15%);

  --font-color-main: rgb(224, 219, 215);

  --light-tile: hsl(40, 9%, 14%);
  --dark-tile: hsl(40, 9%, 11%);

  --label-bg-color: hsl(40, 9%, 16%);
  --label-bg-color-hover: hsl(40, 9%, 19%);

  --outline-color: hsla(38, 31%, 80%, 0.75);
  --outline-subtle: rgba(255, 255, 255, 0.2);

  --canvas-width: 600px;
}

/* 
----------------
themes (not implemented)
----------------
*/

body.light {
  --header-bg-color: rgb(120, 90, 255);
  --footer-bg-color: rgb(120, 90, 255);

  --body-bg-color: rgb(255, 255, 255);

  --backdrop-color: rgba(0, 0, 0, 0.55);
  /* ! CHANGE ME */
  --link-bg-color: hsl(48, 12%, 14%);
  --font-color-links: 28, 100%, 60%;
}

body.brown {
  --header-bg-color: rgb(34, 30, 27);
  --footer-bg-color: rgb(34, 30, 27);

  --body-bg-color: rgb(255, 255, 255);

  --backdrop-color: rgba(0, 0, 0, 0.55);
  --link-bg-color: hsl(48, 100%, 99%);

  --font-color-links: hsl(20, 6%, 9%);
  --font-color-links: 20, 6%, 9%;
}

/* 
----------------
header
----------------
*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  flex-grow: 1;
  flex-shrink: 0;

  width: 100%;

  padding: 0.4rem;

  color: var(--font-color-main);

  background-color: var(--header-bg-color);
}

.header h3 {
  margin-inline-end: 0.8rem;
}

.header p {
  font-weight: 600;
}

.label-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-inline: 0.25rem;

  margin-block-end: 0.5rem;
}

.label-wrapper label {
  margin-inline-start: 1rem;
}

.image-input-label {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--label-bg-color);

  padding: 0.6rem 1rem;
  border-radius: 4px;

  margin-block: 0.4rem;

  text-align: center;

  outline: 1px solid var(--outline-subtle);

  cursor: pointer;
  transition: background-color 80ms ease;
}

.image-input-label:focus,
.image-input-label:focus-within,
.image-input-label:active {
  outline: 1px solid var(--outline-color);
  background-color: var(--label-bg-color-hover);
}

.image-input-label:hover {
  background-color: var(--label-bg-color-hover);
}

#image-input {
  opacity: 0;
  width: 0px;
  height: 0px;

  flex-shrink: 1;
  outline: none;
}

/* 
----------------
main area
----------------
*/

/* ! */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  flex-direction: column;

  position: relative;
  isolation: isolate;

  background-color: var(--body-bg-color);
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  margin-block-end: 0.6rem;

  color: var(--font-color-main);
}

.drag-over {
  transition: background-color 0 400ms;

  background-color: transparent;
  opacity: 1;

  background-color: transparent;
  opacity: 0.8;
  background-image: radial-gradient(rgb(91, 84, 77) 1.55px, transparent 1.55px);
  background-size: 31px 31px;
}

/* 
----------------
switch buttons
----------------
*/

.switch {
  outline: transparent;
  border: transparent;

  background-color: transparent;

  font-size: 1rem;
  font-weight: 600;
  color: inherit;

  padding: 0.6rem 1rem;

  user-select: none;

  outline: 1px solid var(--outline-color);

  border-radius: 3px;
  will-change: contents;

  transition: background-color 80ms ease, outline 70ms ease;

  margin-block-start: 0.4rem;
}

.switch:hover,
.switch:focus-visible {
  cursor: pointer;

  background-color: var(--switch-btn-color);
}

.switch:focus-visible {
  outline: 3px solid var(--outline-color);
  background-color: var(--switch-btn-color);
}

.switch:first-child {
  margin-inline-end: 0.5rem;
}

/* 
----------------
canvases
----------------
*/

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;

  isolation: isolate;
  overflow: hidden;

  margin-block-end: 0.5rem;
}

.main-canvas,
.helper-canvas {
  width: 96%;
  max-width: var(--canvas-width);

  aspect-ratio: 1/1;

  border-radius: 5px;
}

.main-canvas {
  background-color: var(--dark-tile);

  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.463);
}

.chessboard {
  contain: strict;

  inset: 0;
  margin: auto;

  width: 96%;
  max-width: var(--canvas-width);

  aspect-ratio: 1/1;

  position: absolute;

  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);

  border-radius: 5px;

  overflow: hidden;

  pointer-events: none;
}

.helper-canvas {
  position: absolute;
  inset: 0;

  margin: auto;

  visibility: hidden;
  z-index: -1;
}

.helper-canvas.top {
  visibility: visible;

  /* filter: drop-shadow(0 0 1rem rgba(147, 115, 85, 0.915)); */

  z-index: 2;
}

.tile {
  grid-row: span 1;

  background-color: var(--dark-tile);
}

.tile:nth-child(16n + 16),
.tile:nth-child(16n + 14),
.tile:nth-child(16n + 12),
.tile:nth-child(16n + 10),
.tile:nth-child(16n + 7),
.tile:nth-child(16n + 5),
.tile:nth-child(16n + 3),
.tile:nth-child(16n + 1) {
  background-color: var(--light-tile);
}

/* 
----------------
Paste/Drop hint div
----------------
*/

.info-div {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  color: rgb(194, 191, 184);

  pointer-events: none;

  font-weight: 600;
  font-size: 2rem;
  user-select: none;
}

/* 
----------------
bottom panel / footer
----------------
*/

.links {
  display: grid;
  place-items: center;

  gap: 0.2rem;

  grid-template-columns: 1fr;

  width: 100%;

  margin-block-start: auto;

  padding-block: 0.8rem;

  flex-direction: column;

  background-color: var(--footer-bg-color);

  /* min-height: 14%; */
  height: fit-content;

  position: relative;
}

.links:empty {
  height: 15%;
}

.link-wrapper {
  display: flex;

  padding: 0.5rem;
}

.links a {
  word-break: break-all;

  padding-block: 0.2rem;
  background-color: var(--link-bg-color);

  border-radius: 4px;

  padding-inline: 0.4rem;

  font-family: monospace;

  color: hsl(var(--font-color-links));
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.1;

  text-align: center;
  text-decoration: none;

  outline: 1px solid var(--outline-subtle);
}

.links a:hover {
  text-decoration: underline;
}

.copy-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-inline: 0.5rem;

  outline: transparent;
  border: transparent;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  cursor: pointer;

  background-color: transparent;
  outline: 1px solid var(--outline-subtle);

  font-size: 1rem;
  color: var(--font-color-main);
  font-weight: 600;

  border-left: 1px solid var(--outline-subtle);

  transition: background-color 80ms ease;
}

.copy-btn:hover,
.copy-btn:focus-visible {
  background-color: var(--link-bg-color);
}

.copy-btn:focus-visible {
  outline: 1px solid var(--outline-color);
}

/* 
----------------
loader
----------------
*/

.loader-backdrop {
  position: fixed;

  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  background-color: var(--backdrop-color);

  z-index: 9999;
}

.loader-backdrop h3 {
  font-size: 2rem;

  color: white;
  user-select: none;
}

.canvas-loader {
  margin-block-start: 2.5rem;
}

/* 
----------------
utils
----------------
*/

.pointer-none {
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 610px) {
  .links a {
    contain: content;
    font-size: 1rem;
  }

  .link-wrapper {
    max-height: 3.5rem;

    overflow: hidden;
    isolation: isolate;
  }
}
