*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;

  flex-direction: column;

  font-family: Helvetica, Arial, sans-serif;

  background-color: var(--body-bg-color);

  position: relative;
}

:root {
  --header-bg-color: rgb(24, 23, 18);
  --footer-bg-color: rgb(24, 23, 18);

  --body-bg-color: rgb(48, 46, 38);

  --backdrop-color: rgba(0, 0, 0, 0.35);
  --link-bg-color: hsl(48, 12%, 14%);
  --color-links: 28, 100%, 60%;

  --switch-btn-color: hsl(40, 4%, 15%);

  --font-color-main: rgb(224, 219, 215);

  --dark-tile: hsl(40, 9%, 16%);
  --light-tile: hsl(40, 9%, 12%);

  --label-bg-color: hsl(40, 9%, 16%);
  --label-bg-color-hover: hsl(40, 9%, 19%);

  --outline-color: rgb(234, 225, 209);

  --canvas-width: 600px;
}

/* 
----------------
themes (not implemented)
----------------
*/

body.light {
  --header-bg-color: rgb(120, 90, 255);
  --footer-bg-color: rgb(120, 90, 255);

  --body-bg-color: rgb(255, 255, 255);

  --backdrop-color: rgba(0, 0, 0, 0.55);
  /* ! CHANGE ME */
  --link-bg-color: hsl(48, 12%, 14%);
  --color-links: 28, 100%, 60%;
}

body.brown {
  --header-bg-color: rgb(34, 30, 27);
  --footer-bg-color: rgb(34, 30, 27);

  --body-bg-color: rgb(255, 255, 255);

  --backdrop-color: rgba(0, 0, 0, 0.55);
  --link-bg-color: hsl(48, 100%, 99%);

  --color-links: hsl(20, 6%, 9%);
  --color-links: 20, 6%, 9%;
}

/* 
----------------
header
----------------
*/

header {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  flex-grow: 1;
  flex-shrink: 0;

  width: 100%;

  padding: 0.4rem;

  color: var(--font-color-main);

  background-color: var(--header-bg-color);
}

.image-input-label {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--label-bg-color);

  padding: 0.6rem 1rem;
  border-radius: 4px;

  margin-block: 0.4rem;

  cursor: pointer;
  transition: background-color 80ms ease;
}

.image-input-label:focus,
.image-input-label:focus-within,
.image-input-label:active {
  outline: 1px solid var(--outline-color);
  background-color: var(--label-bg-color-hover);
}

.image-input-label:hover {
  background-color: var(--label-bg-color-hover);
}

#image-input {
  visibility: hidden;
  width: 0;
  height: 0;
}

/* 
----------------
main area
----------------
*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  flex-direction: column;

  position: relative;
  isolation: isolate;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  margin-block-end: 0.6rem;

  color: var(--font-color-main);
}

h4.preview-message {
  margin-block-start: 0.8rem;
  margin-block-end: 0.4rem;
}

.preview-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-block-end: 0.5rem;

  color: white;
}

/* 
----------------
switch buttons
----------------
*/

.switch {
  outline: transparent;
  border: transparent;

  color: inherit;

  background-color: transparent;

  font-size: 1rem;
  font-weight: 600;

  padding: 0.6rem 1rem;

  user-select: none;

  border-radius: 3px;

  outline: 1px solid var(--outline-color);
  will-change: contents;

  transition: background-color 80ms ease, outline 70ms ease;
}

.switch:hover,
.switch:focus-visible {
  cursor: pointer;

  background-color: var(--switch-btn-color);
}

.switch:focus-visible {
  outline: 3px solid var(--outline-color);
  background-color: var(--switch-btn-color);
}

.switch:first-child {
  margin-inline-end: 0.5rem;
}

/* 
----------------
canvases
----------------
*/

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;

  isolation: isolate;
}

.main-canvas,
.helper-canvas {
  width: var(--canvas-width);
  max-width: 100%;

  /* background-color: hsl(40, 9%, 13%);
  background-color: hsl(40, 9%, 15%); */
  aspect-ratio: 1/1;

  border-radius: 5px;
}

.main-canvas {
  background-color: var(--dark-tile);

  background-image: repeating-linear-gradient(
      45deg,
      var(--light-tile),
      25%,
      transparent 25%,
      transparent 75%,
      var(--light-tile),
      75%,
      var(--light-tile)
    ),
    repeating-linear-gradient(
      45deg,
      var(--light-tile),
      25%,
      var(--dark-tile) 25%,
      var(--dark-tile) 75%,
      var(--light-tile),
      75%,
      var(--light-tile)
    );
  background-position: 0 0,
    calc(var(--canvas-width) / 8) calc(var(--canvas-width) / 8);
  background-size: calc(var(--canvas-width) / 4) calc(var(--canvas-width) / 4);

  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.463);
}

.helper-canvas {
  inset: 0;
  margin: auto;
  position: absolute;

  visibility: hidden;
  z-index: -1;
}

.helper-canvas.top {
  visibility: visible;
  /* opacity: 0.5; */

  z-index: 2;
}

/* 
----------------
Paste/Drop hint div
----------------
*/

.info-div {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(194, 191, 184);

  pointer-events: none;
}

.info-div h2 {
  font-size: 2rem;
  user-select: none;
}

/* 
----------------
bottom panel / footer
----------------
*/

.links {
  display: grid;
  place-items: center;

  gap: 0.2rem;

  grid-template-columns: 1fr;

  width: 100%;

  margin-block-start: auto;

  padding-block: 0.8rem;

  flex-direction: column;

  background-color: var(--footer-bg-color);

  min-height: 15%;
  height: 17%;

  position: relative;
}

.links a {
  text-align: center;

  width: 80%;

  color: hsl(var(--color-links));
  font-weight: 600;

  text-decoration: none;

  padding-block: 0.2rem;
  background-color: var(--link-bg-color);

  border-radius: 4px;
}

.links a:hover {
  text-decoration: underline;
}

/* 
----------------
loader
----------------
*/

.loader-backdrop {
  position: fixed;

  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  background-color: var(--backdrop-color);

  z-index: 9999;
}

.loader-backdrop h3 {
  font-size: 2rem;

  color: white;
  user-select: none;
}

.canvas-loader {
  margin-block-start: 2.5rem;
}

/* 
----------------
utils
----------------
*/

.drag-over {
  transition: background-color 0 400ms;

  background-color: rgb(104, 94, 89);
}

.pointer-none {
  pointer-events: none;
}

.horizontal-line {
  width: 70%;
  height: 1px;

  margin-block: 0.4rem;
}

.hidden {
  visibility: hidden;
}
