/* todo rename */
.results {
  position: absolute;
  right: 0;
  top: 100px;

  width: 270px;
  height: 700px;

  z-index: 4000;

  background-color: #217949;

  overflow-y: scroll;
  overflow-x: hidden;

  padding: 2px;
}

.results > canvas {
  width: 100%;
}
