.detection-sidebar {
  display: flex;
  flex-direction: column;

  position: absolute;
  right: 0;
  top: var(--header-height);

  width: 270px;
  height: 700px;

  z-index: 4000;

  background-color: var(--sidebar-bg-color);

  overflow-y: auto;
  padding: 2px 4px;
  padding-top: 0;

  gap: 10px;

  scrollbar-gutter: 8px;

  border-radius: 5px;
}

.detection-sidebar.shrink {
  height: min-content;
  width: min-content;
  padding: 0;
}

.detection-sidebar.shrink > *:not(.detection-sidebar__panel) {
  display: none;
  width: 0px;
  height: 0px;
}

.detection-sidebar::-webkit-scrollbar {
  width: 8px;
}

.detection-sidebar::-webkit-scrollbar-track {
  background-color: rgb(48, 48, 48);
}

.detection-sidebar::-webkit-scrollbar-thumb {
  background: hsl(39, 45%, 45%);
  border-radius: 16px;
}

.detection-sidebar__panel {
  display: flex;
  justify-content: end;

  position: sticky;
  top: 0;
  z-index: 2;

  background-color: inherit;

  padding: 3px;
}

.detection-sidebar__panel > button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: min-content;
  height: min-content;

  outline: transparent;
  border: transparent;

  padding: 2px;

  cursor: pointer;
}

/* sidebar card */
.detection-card {
  contain: paint;

  height: min-content;
  width: 100%;

  padding: 8px 4px;

  background-color: #38393a;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  border-radius: 4px;

  gap: 4px;
}

.detection-card__btn-panel {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}

.detection-card__btn-panel > button {
  border: none;
  cursor: pointer;

  padding: 4px 7px;
  border-radius: 3px;
}

/* predict btn */
.detection-card__btn-panel > button:nth-child(1) {
  background-color: rgb(97, 97, 236);
  color: white;
}

/* delete btn */
.detection-card__btn-panel > button:nth-child(3) {
  background-color: rgb(207, 52, 54);
  color: white;
}

/* todo change styles */
.detection-card .fen-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;

  row-gap: 2px;
}

.fen-container input {
  font-weight: 600;
  background-color: #131313;
  color: #f0f0f0;

  padding-inline: 4px;

  border: none;
}

.fen-container button {
  background-color: #f3f3f3;
  color: #000000;

  font-weight: bold;

  outline: transparent;
  border: transparent;

  padding: 4px;

  cursor: pointer;
}

.detection-card canvas {
  outline: 1px solid black;
  width: 100%;
  aspect-ratio: 1;
}

.detection-card__canvas-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.preview-canvas {
  position: absolute;
  width: 100%;
  height: 100%;

  inset: 0;

  z-index: 3;

  transform: translate(10, 10);
}
